@model GoonGamesOuh.Models.play;
@{
	ViewBag.Title = "Question " + Model.Id;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="question-box">
	<div class="question-number">
		Question @Model.Id
	</div>
	<div class="question-prompt">
		@{ 
			foreach (string prompt in Model.Prompt)
			{
				<p>
					@prompt
				</p>
			}
		}
	</div>
	<div class="answer-input">
		@{if (Model.Id != 0)
			{
				@using (Html.BeginForm("QuestionChecked", "play", FormMethod.Post))
				{
					@Html.TextBoxFor(input => input.Answer)
					<button type="submit">Submit</button>
				}
			}
		 }
	</div>
	<div class="answer-result">
		@Model.ConfirmationMessage
	</div>
	<!-- @Model.HelpfulComments -->
</div>