@{
    ViewData["Title"] = "Home Page";
    if (Model.LoginStatus)
    {
        ViewData["LoginStatus"] = "Logout";
    }
    else
    {
        ViewData["LoginStatus"] = "Login/Register";
    }
}
@model GoonGamesOuh.Models.Home
<div class="main-title">
    <p class="home">Welcome @Model.Name</p>
</div>
