:root {
	font-size: 16px;
	font-family: 'Fira Sans', sans-serif;
	--text-primary: #b6b6b6;
	--text-secondary: #ececec;
	--bg-primary: #23232e;
	--bg-secondary: #141418;
}
body {
	background-color: #ABCDEF;
	color: #78512D;
	margin: 0;
	padding: 2rem;
	padding-top:0;
	margin-bottom: 30px;
}
body::-webkit-scrollbar{
	width: 0.2rem;
}
body::-webkit-scrollbar-track{
	background:#ABCDEF;
}
body::-webkit-scrollbar-thumb{
	background:#123456;
}
.navbar-nav {
	font-size:large;
	list-style:none;
	display:flex;
}
.navbar-brand {
	margin-right: auto;
	font-weight: 700;
	font-size: larger;
	vertical-align: middle;
}
p.home{
	font-size:5rem;
	font-weight:900;
	text-align:center;
}
a {
	display: block;
	padding: 0.5rem;
	color: #78512D;
	vertical-align:central;
	text-decoration: none;
}
.btn-primary {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}
@media (max-width: 600px) {
	body {
		font-size: 14px;
	}
}
.border-top {
	border-top: 1px solid #e5e5e5;
}
.border-bottom {
	border-bottom: 1px solid #e5e5e5;
}
.box-shadow {
	box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
button.accept-policy {
	font-size: 1rem;
	line-height: inherit;
}
hr {
	border-color: #78512D;
	width:100%;
}
footer {
	position: absolute;
	margin: 10px;
	bottom: 0;
	width: auto;
	white-space: nowrap;
	line-height: 30px;
}
.question-box {
	position: center;
	width: 1000px;
	background-color: black;
	border: 10px;
	padding: 20px 20px 20px 20px;
	border-color: gold;
	color: aquamarine;
	font-family: Consolas;
}
.question-number {
	font-size: x-large;
	font-weight: bold;
}
.question-prompt{
	font-size: medium;
	font-family:'Lucida Console';
}
div.answer-result {
	color: lime;
	font-family: Consolas;
}
.leaderboard {
	padding: 10px;
	border: 2px double;
	border-color: aquamarine;
	background-color: black;
}