:root {
	font-size: 16px;
	font-family: 'Fira Sans', sans-serif;
}
html {
	height: 100%;
}
body {
	background: url(../images/background-light.png);
	background-size: auto cover;
	background-position: bottom left;
	background-repeat: no-repeat;
	color: #78512D;
	margin: auto;
	min-height: 100%;
}
footer{
	width:100%;
}
body::-webkit-scrollbar{
	width: 0.5rem;
}
body::-webkit-scrollbar-track{
	background:#ABCDEF;
}
body::-webkit-scrollbar-thumb{
	background:#123456;
}
.navbar {
	background-color: burlywood;
}
.navbar-nav {
	font-size: large;
	list-style: none;
	padding: 10px;
	margin: auto;
	display: flex;
	vertical-align: bottom;
	background-color: #C8A67A;
	text-align: center;
}
.navbar-brand {
	margin-right: auto;
	font-weight: 700;
	font-size: larger;
	vertical-align: middle;
	background-color: #C8A67A;
}
p.home{
	font-size:5rem;
	font-weight:900;
	text-align:center;
}
a {
	display: block;
	padding: 0.5rem;
	color: #78512D;
	margin:auto;
	text-decoration: none;
}
@media (min-width: 1080px) {
	body {
		font-size: 14px;
	}
}
hr {
	border-color: #78512D;
	width:100%;
}
.footertext {
	vertical-align: bottom;
	width: 100%;
	line-height: 30px;
	position: fixed;
	left: 0;
	bottom: 0;
}
.digital-screen {
	margin: auto;
	padding: 10px;
	color: aquamarine;
	text-align: center;
	font-family: 'Fira Code', monospace;
	border: 10px solid;
	border-color: #78512D;
	background-color: black;
	width: 50%;
	margin-top: 4rem;
}
input {
	border:none;
	border-bottom: dotted 1px aquamarine;
	background-color:black;
	color:aquamarine;
	font-family: 'Fira Code', monospace;
}
button{
	border:dashed 1px aquamarine;
	background-color:black;
	color:aquamarine;
	font-family: 'Fira Code', monospace;
}
.question-number {
	font-size: x-large;
	font-weight: bold;
}
.question-prompt{
	font-size: medium;
}
p.question-prompt{
	word-wrap:break-word;
}
.answer-result {
	color: lime;
	font-family: 'Fira Sans', sans-serif;
}
p.user-heading {
	font-size: x-large;
	font-weight: bold;
}
th.leaderboard{
	font-size:large;
	font-weight:bold;
}
th.leaderboard, td.leaderboard {
	padding: 10px;
	border: 1px solid;
	border-color: aquamarine;
	border-collapse: collapse;
	font-family: 'Fira Code', monospace;
}
th.register-form, td.register-form {
	padding: 10px;
	border-color: aquamarine;
}
th.login-form, td.login-form {
	padding: 10px;
	border-color: aquamarine;
}